.autocomplete {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  margin-top: 32px;
  .city {
    display: flex;
    margin-bottom: 15px;
  }
  .point {
    display: flex;
    margin-bottom: 15px;
  }
}

.reactSelectContainer {
  width: 200px;
  __control {
    width: 400px !important;
    outline: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid red;
    box-shadow: none;

    cursor: pointer;
  }
}

.reactSelectContainer__control {
  width: 200px;

  width: 400px !important;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid red;
  box-shadow: none;

  cursor: pointer;
}

.reactSelectContainer {
  &__value {
    cursor: pointer;
    color: green;
  }
}

.datalistWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
}

input {
  position: relative;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
  border: 1px solid blue;
  outline: none;
  border-radius: 5px;
  color: blue;
  /*   border-bottom: none; */
}
datalist {
  // position: absolute;
  // top: 15px;
  background-color: white;
  border: 1px solid blue;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 350px;
  padding: 15px;
  max-height: 10rem;
  overflow-y: auto;
}
.enable {
  display: block;
}

option {
  background-color: white;
  padding: 4px;
  color: blue;
  margin-bottom: 1px;
  font-size: 18px;
  cursor: pointer;
}

option:hover,
.active {
  background-color: lightblue;
}
