.autocomplete {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;

  margin-top: 32px;
  .city {
    display: flex;
    margin-bottom: 15px;
  }
  .point {
    display: flex;
    margin-bottom: 15px;
  }
}

.reactSelectContainer {
  width: 200px;
  __control {
    width: 400px !important;
    outline: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid red;
    box-shadow: none;

    cursor: pointer;
  }
}

.reactSelectContainer__control {
  width: 200px;

  width: 400px !important;
  outline: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid red;
  box-shadow: none;

  cursor: pointer;
}

.reactSelectContainer {
  &__value {
    cursor: pointer;
    color: green;
  }
}
