.menuContainer {
  display: flex;
  position: fixed;

  height: 100vh;
  width: 100%;
  z-index: -1;
  opacity: 0;

  .container {
    flex: 0 1 calc(50% + 128px);
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    padding-left: 128px;
    background: #151b1f;

    @media (max-width: 768px) {
      flex: 0 1 100%;
    }

    @media (max-width: 425px) {
      padding-left: 28px;
      padding-top: 80px;
      justify-content: left;
    }

    .menuItems {
      ul {
        margin-bottom: 40px;
        li {
          list-style-type: none;
          margin: 3% 0 16px 0;
          a {
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;

            @media (max-width: 425px) {
              font-size: 22px;
              line-height: 26px;
            }
          }
        }
      }
    }

    .network {
      display: flex;
      justify-content: space-between;
      width: 144px;
      height: 22px;

      a {
        svg:hover {
          path {
            fill: var(--primary-accent);
          }
        }
      }
    }
  }

  .darkside {
    display: flex;
    flex: 0 1 50%;
    height: 100vh;

    background: rgba(21, 27, 31, 0.81);
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.menuContainer.deactive {
  animation: fade-out 600ms forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    z-index: 999;
  }
  50% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.menuContainer.active {
  animation: fade-in 300ms forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
    z-index: -1;
  }
  to {
    opacity: 1;
    z-index: 999;
  }
}
