@import './theme.scss';

*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: var(--cursor);
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
  &:hover {
    cursor: pointer;
    color: var(--primary-accent);
  }
}
