body {
  // color
  --primary-accent: #0ec261;
  --primary-black: #121212;
  --grey-dark: #999999;
  --grey-light: #eeeeee;
  --sidebar-background: #151b1f;
  --menu-background: #111518;

  //cursor
  --cursor-pointer: pointer;
  --cursor: cursor;
}
