.layout {
  margin: 0 0 0 64px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    margin: 0 0 0 32px;
  }

  @media (max-width: 768px) {
    margin: 0 0 0 32px;
    flex: 0 1 100%;
  }

  @media (max-width: 425px) {
    margin: 0 auto;
    flex: 0 1 100%;
  }

  .header {
    margin: 32px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 425px) {
      margin: 16px 0 0 0;
      flex-direction: column;
      align-items: flex-end;
    }

    .logo {
      flex: 1 0 auto;

      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;

      color: var(--primary-accent);

      margin: 0 16px 0 0;
    }

    .city {
      display: flex;
      position: relative;
      margin-left: 0px;

      @media (max-width: 425px) {
        margin: 9px 0 0 0;
      }

      input {
        position: relative;
        max-width: 110px;
        white-space: pre;
        margin: 0 24px 0 7px;
        z-index: 1;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: var(--primary-black);

        @media (max-width: 425px) {
          margin: 0 16px 0 7px;
          width: 95px;
        }

        outline: none;
        border: none;
        &:focus {
          border-bottom: 1px solid var(--grey-dark);
        }
      }

      .clear {
        position: absolute;
        z-index: 2;
        right: 25px;
        top: 5px;
        height: 8px;
        width: 8px;
        text-align: center;
        cursor: var(--cursor-pointer);
      }
    }
  }

  .main {
    position: absolute;
    top: 25%;

    @media (max-width: 425px) {
      width: 100%;
      top: 19%;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      font-style: normal;
      font-weight: bold;

      font-size: calc((100vw - 425px) / (1440 - 425) * (70 - 32) + 32px);
      line-height: calc((100vw - 425px) / (1440 - 425) * (66 - 32) + 32px);
      @media (max-width: 767px) {
        font-size: calc((100vw - 425px) / (767 - 425) * (70 - 32) + 32px);
        line-height: calc((100vw - 425px) / (767 - 425) * (66 - 32) + 32px);
      }
      @media (max-width: 425px) {
        padding: 0 16px;
        font-size: 32px;
        line-height: 100%;
      }
      .need {
        margin-top: 4px;
        color: var(--primary-accent);
        @media (max-width: 425px) {
          margin-top: 6px;
        }
      }
    }

    .info {
      margin-top: 1rem;
      color: var(--grey-dark);

      font-style: normal;
      font-weight: 300;
      font-size: calc((100vw - 425px) / (1440 - 425) * (26 - 18) + 14px);
      line-height: calc((100vw - 425px) / (1440 - 425) * (25 - 21) + 16px);

      @media (max-width: 767px) {
        font-size: calc((100vw - 425px) / (767 - 425) * (26 - 18) + 18px);
        line-height: calc((100vw - 425px) / (767 - 425) * (25 - 21) + 21px);
      }
      @media (max-width: 425px) {
        font-size: 18px;
        line-height: 21px;
        padding: 0 16px;
      }
    }
    .footers {
      button {
        margin: 60px 0 0 0;
        height: 48px;
        width: 250px;

        @media (max-width: 425px) {
          margin-top: 32px;
          width: 100%;
          border-radius: 0px;
        }
      }
    }
  }

  .footer {
    display: flex;
    height: 100%;
    align-items: flex-end;

    .container {
      display: flex;
      justify-content: space-between;

      width: 100%;
      padding-bottom: 20px;

      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 15px;

      @media (max-width: 425px) {
        flex-direction: column-reverse;
        align-items: flex-end;
        justify-content: space-evenly;

        height: 72px;

        padding: 0 16px;
        background: var(--sidebar-background);
      }

      .info {
        p {
          color: var(--grey-dark);
          @media (max-width: 425px) {
            color: var(--grey-light);
          }
        }
      }
      .phone {
        margin: 0 24px 0 12px;

        @media (max-width: 425px) {
          margin: 0;
        }

        p {
          color: #121212;
          @media (max-width: 425px) {
            color: var(--primary-accent);
          }
        }
      }
    }
  }
}
