.layout {
  margin: 0 0 0 64px;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    margin: 0 0 0 32px;
  }

  @media (max-width: 768px) {
    margin: 0 0 0 32px;
    flex: 0 1 100%;
  }

  .header {
    margin: 32px 0 0 0;
    display: flex;
    align-items: center;

    .logo {
      flex: 1 0 auto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: var(--primary-accent);

      @media (max-width: 768px) {
        margin: 0 16px 0 0;
      }
    }

    .city {
      display: flex;
      align-items: center;
      p {
        margin: 0 60px 0 7px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: var(--grey-dark);
        // @media (max-width: 767px) {
        //   margin: 0 16px 0 7px;
        // }
      }
    }
    // @media (max-width: 767px) {
    //   flex-direction: column;
    //   align-items: flex-end;
    // }
  }

  .main {
    margin: 168px 32px 0 0;
    // @media (max-width: 767px) {
    //   margin: 30px 16px 0 0;
    // }
    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      font-style: normal;
      font-weight: bold;
      font-size: 70px;
      line-height: 66px;
      .need {
        margin-top: 4px;
        color: var(--primary-accent);
      }
      // @media (max-width: 767px) {
      //   font-size: 32px;
      // }
    }
    .footer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      font-style: normal;
      font-weight: 300;
      font-size: 26px;
      margin-top: 25px;
      // line-height: 0;

      color: var(--grey-dark);

      // @media (max-width: 767px) {
      //   font-size: 18px;
      //   line-height: 1;
      // }
      button {
        margin: 60px 0 0 0;
        height: 48px;
        width: 250px;

        // @media (max-width: 767px) {
        //   margin: 40px 0 0 -20px;
        //   width: 115%;
        //   border-radius: 0;
        // }
      }
    }
  }

  .footer {
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin: 0 0 20px 0;
    // @media (max-width: 767px) {
    //   background-color: var(--grey-dark);
    //   flex-direction: column-reverse;
    //   margin-top: auto;
    //   height: 10%;
    //   margin-bottom: 0;
    //   margin-left: -20px;
    // }
    .info {
      flex: 1 0 auto;
      // @media (max-width: 767px) {
      //   margin: 0 16px 0 0;
      // }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: var(--grey-dark);
        // @media (max-width: 767px) {
        //   line-height: 0;
        // }
      }
    }
    .phone {
      margin: 0 64px 0 0;
      // @media (max-width: 767px) {
      //   margin: 0 16px 0 0;
      // }
      p {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #121212;
        // @media (max-width: 767px) {
        //   line-height: 0;
        //   color: var(--primary-accent);
        // }
      }
    }
  }
}
// .carousel {
//   flex: 0 1 48%;
//   @media (max-width: 1023px) {
//     display: none;
//   }
// }
