.basket {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  right: 12px;
  bottom: 15px;
  border: 2px solid var(--primary-accent);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  outline: none;
  background-color: white;

  @media (max-width: 1024px) {
    display: flex;
  }
  img {
    position: relative;
    left: -1px;
    width: 40px;
    height: 40px;
    &:hover {
      filter: invert(55%) sepia(85%) saturate(619%) hue-rotate(98deg)
        brightness(89%) contrast(89%);
    }
  }
}
