.layout {
  // margin: 0 0 0 64px;
  display: flex;
  flex: 1 0 calc(50% - 32px);
  flex-direction: column;
  padding-left: 64px;

  @media (max-width: 1440px) {
    //  margin: 0 0 0 32px;
    flex: 1 0 calc((100% - 64px) / 5 * 3);
  }

  @media (max-width: 1024px) {
    // margin: 0 0 0 32px;
    //flex: 1 0 100%;
  }

  @media (max-width: 425px) {
    //  margin: 0 auto;
    flex: 0 1 100%;
  }
  .main {
    position: absolute;
    top: 25%;

    @media (max-width: 425px) {
      width: 100%;
      top: 19%;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      font-style: normal;
      font-weight: bold;

      font-size: calc((100vw - 425px) / (1440 - 425) * (70 - 32) + 32px);
      line-height: calc((100vw - 425px) / (1440 - 425) * (66 - 32) + 32px);
      @media (max-width: 767px) {
        font-size: calc((100vw - 425px) / (767 - 425) * (70 - 32) + 32px);
        line-height: calc((100vw - 425px) / (767 - 425) * (66 - 32) + 32px);
      }
      @media (max-width: 425px) {
        padding: 0 16px;
        font-size: 32px;
        line-height: 100%;
      }
      .need {
        margin-top: 4px;
        color: var(--primary-accent);
        @media (max-width: 425px) {
          margin-top: 6px;
        }
      }
    }

    .info {
      margin-top: 1rem;
      color: var(--grey-dark);

      font-style: normal;
      font-weight: 300;
      font-size: calc((100vw - 425px) / (1440 - 425) * (26 - 18) + 14px);
      line-height: calc((100vw - 425px) / (1440 - 425) * (25 - 21) + 16px);

      @media (max-width: 767px) {
        font-size: calc((100vw - 425px) / (767 - 425) * (26 - 18) + 18px);
        line-height: calc((100vw - 425px) / (767 - 425) * (25 - 21) + 21px);
      }
      @media (max-width: 425px) {
        font-size: 18px;
        line-height: 21px;
        padding: 0 16px;
      }
    }
    .footers {
      button {
        margin: 60px 0 0 0;
        height: 48px;
        width: 250px;

        @media (max-width: 425px) {
          margin-top: 32px;
          width: 100%;
          border-radius: 0px;
        }
      }
    }
  }
}
