.header {
  position: fixed;
  width: 50%;
  top: 0;
  left: 0;
  z-index: 10;

  @media (max-width: 1439px) {
    width: calc(100% / 5 * 3);
  }

  @media (max-width: 1023px) {
    width: 100%;
  }

  .container {
    .body {
      color: var(--primary-black);
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      height: 96px;
      align-items: center;
      padding: 0 64px 0 128px;

      @media (max-width: 1439px) {
        padding: 0 32px 0 96px;
      }

      @media (max-width: 1023px) {
        padding: 0 32px 0 118px;
      }

      @media (max-width: 767px) {
        padding: 0 16px;
        flex-wrap: wrap;
        justify-content: flex-end;
      }

      .logo {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: var(--primary-accent);

        @media (max-width: 767px) {
          position: absolute;
          top: 16px;
          padding-left: 36px;
        }
      }
    }
  }

  .city {
    display: flex;
    align-items: center;
    margin-left: 0px;

    @media (max-width: 767px) {
      position: absolute;
      top: 62px;
    }
    img {
      padding-right: 8px;
    }

    .cityName {
      position: relative;
      display: flex;
      justify-content: flex-end;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: var(--grey-dark);
    }
  }
}
