.yandexMap {
  display: flex;
  flex-direction: column;
  flex: 0 1 50%;
  padding: 0 16px;
  p {
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-black);

    @media (max-width: 767px) {
      padding: 0 16px;
    }
  }

  .map {
    // display: flex;
    padding-top: 16px;
    padding-right: 32px;

    width: 736px;
    height: 352px;
    // @media (max-width: 767px) {
    //   padding: 16px 16px 0 16px;
    // }
  }
}
