.crumbs {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 32px;

  border-top: 1px solid var(--grey-light);
  border-bottom: 1px solid var(--grey-light);
  ul {
    padding-left: 64px;
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;

      color: var(--grey-dark);

      &.validated {
        color: var(--primary-dark);
      }

      &.active {
        color: var(--primary-accent);
        outline: none;
      }

      list-style: none;

      .name {
        outline: none;
      }
      .span {
        padding: 0 16px;
      }
    }
  }
}
